@import "./typograhy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html[data-theme="light"] {
  --color-fill: rgb(216, 216, 216);
  --color-text-base: rgb(29, 29, 29);
  --color-accent: rgba(199, 11, 99, 1);
  --color-card: rgb(243, 243, 243);
  --color-card-muted: rgb(192, 59, 121);
  --color-border: rgb(210, 210, 210);
}

html[data-theme="dark"] {
  --color-fill: rgb(31, 33, 36);
  --color-text-base: rgba(234, 237, 243, 1);
  --color-accent: rgb(255, 87, 34);
  --color-card: rgb(34, 40, 49);
  --color-card-muted: rgba(138, 51, 2, 1);
  --color-accent: rgb(255, 87, 34);
}

#logo-svg {
  fill: var(--color-accent);
}

#sun-svg,
html[data-theme="dark"] #moon-svg {
  display: none;
}

#moon-svg,
html[data-theme="dark"] #sun-svg {
  display: block;
}

body {
  @apply flex min-h-[100dvh] flex-col bg-theme-fill text-theme-base;
}

section,
footer {
  @apply mx-auto max-w-[52rem];
}

a {
  @apply outline-2 outline-offset-1 outline-theme-fill focus-visible:no-underline focus-visible:outline-dashed;
}

svg.icon-tabler {
  @apply inline-block h-6 w-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110;
}

/* ===== scrollbar ===== */
html {
  overflow-y: scroll;
}

main {
  @apply px-4 sm:px-0;
}

/* width */
::-webkit-scrollbar {
  @apply w-3;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-theme-fill;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-theme-card;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-theme-card-muted;
}

/* ===== Code Blocks & Syntax Highlighting ===== */
pre:has(code) {
  @apply border border-theme-line !text-base;
}

code,
blockquote {
  word-wrap: break-word;
}

pre > code {
  white-space: pre;
}

/* Apply Dark Theme (if multi-theme specified) */
html[data-theme="dark"] pre:has(code),
html[data-theme="dark"] pre:has(code) span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.focus-outline {
  @apply outline-2 outline-offset-1 outline-theme-fill focus-visible:no-underline focus-visible:outline-dashed;
}

.copy-code {
  @apply absolute -top-3 right-3 rounded border border-theme-line bg-theme-card px-2 py-1 text-xs font-medium leading-4 text-theme-base;
}

.progress-container {
  @apply fixed top-0 z-10 h-1 w-full bg-theme-fill;
}

.progress-bar {
  @apply h-1 w-0 bg-theme-accent;
}

.heading-link {
  @apply ml-2 opacity-0 focus:opacity-100 group-hover:opacity-100;
}

nav.navigation li.active {
  @apply underline decoration-pink-500 decoration-wavy decoration-2 underline-offset-8;
}

@media (max-width: 639px) {
  #menu {
    transition-duration: 350ms;
    @apply border-b border-transparent;
  }

  #menu[aria-hidden="true"] {
    max-height: 0;
    padding: 0;
  }

  #menu[aria-hidden="false"] {
    max-height: 1000px;
    @apply border-b border-theme-line;
  }
}

.card-container {
  @apply md:px-12 mx-auto flex min-h-dvh w-full max-w-[52rem] flex-col bg-theme-card sm:px-6;
}
