---
import { IconChevronUp } from "@tabler/icons-react";
---

<button
  id="backToTop"
  class="focus-outline flex items-center gap-1 whitespace-nowrap py-1 hover:text-theme-accent"
>
  <span>Back to Top</span>
  <IconChevronUp />
</button>
