---
import { LOGO_IMAGE, SITE } from "@config";
import Navigation from "./Navigation";

export interface Props {
  activeNav?: "posts" | "archives" | "tags" | "about" | "search" | "projects";
}

const { activeNav } = Astro.props;
---

<header class="relative flex items-center border-b border-theme-line py-4">
  <a href="/" class="flex items-center gap-2">
    <img
      class="w-8 sm:w-12 h-auto"
      src={`/assets/${LOGO_IMAGE.svg ? "logo.svg" : "logo.png"}`}
      alt={SITE.title}

    />
    <span class="md:text-3xl font-mono text-2xl">{SITE.title}</span>
  </a>
  <Navigation client:load active={activeNav} />
</header>
