---
export interface Props {
  ariaHidden?: boolean;
}

const { ariaHidden = true } = Astro.props;
---

<div class={`max-w-[52rem] mx-auto`}>
  <hr class="border-theme-line" aria-hidden={ariaHidden} />
</div>
