---
const { className, ...rest } = Astro.props;
---

<a
  class:list={[
    "group inline-block cursor-pointer underline-offset-8 hover:text-theme-accent hover:underline",
    className,
  ]}
  {...rest}
>
  <slot />
</a>
