---
import type { Page } from "astro";
import LinkButton from "./LinkButton.astro";
import type { CollectionEntry } from "astro:content";
import { IconArrowLeft, IconArrowRight } from "@tabler/icons-react";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

{
  page.lastPage > 1 && (
    <nav
      aria-label="Pagination"
      class="flex items-center justify-center gap-4 py-8"
    >
      <LinkButton
        disabled={!page.url.prev}
        href={page.url.prev || ""}
        className={`select-none p-2 ${page.url.prev ? "" : "disabled"}`}
        ariaLabel="Previous"
      >
        <IconArrowLeft />
        <span class="sr-only">Previous</span>
      </LinkButton>
      <div>
        {page.currentPage} / {page.lastPage}
      </div>
      <LinkButton
        disabled={!page.url.next}
        href={page.url.next || ""}
        className={`select-none p-2 ${page.url.next ? "" : "disabled"}`}
        ariaLabel="Next"
      >
        <IconArrowRight />
        <span class="sr-only">Next</span>
      </LinkButton>
    </nav>
  )
}

<style>
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-theme-base group-hover:fill-theme-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-theme-base;
  }
</style>
