---
const { prevPost, nextPost } = Astro.props;
---

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
  {
    prevPost && (
      <a
        href={`/posts/${prevPost.slug}`}
        class="flex w-full items-center gap-1 hover:text-theme-accent"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-left flex-none"
        >
          <>
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M15 6l-6 6l6 6" />
          </>
        </svg>
        <div>
          <span>Previous Post</span>
          <div class="text-theme-accent/85 text-sm">{prevPost.title}</div>
        </div>
      </a>
    )
  }
  {
    nextPost && (
      <a
        href={`/posts/${nextPost.slug}`}
        class="flex w-full items-center justify-end gap-1 text-right hover:text-theme-accent sm:col-start-2"
      >
        <div>
          <span>Next Post</span>
          <div class="text-theme-accent/85 text-sm">{nextPost.title}</div>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right flex-none"
        >
          <>
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M9 6l6 6l-6 6" />
          </>
        </svg>
      </a>
    )
  }
</div>
