---
export interface Props {
  tag: string;
  size?: "sm" | "lg";
}

const { tag} = Astro.props;
---
<li class="inline-block mr-4 mb-4">
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class="text-xl hover:text-skin-accent focus-visible:p-1 whitespace-nowrap"
  >
  <span class="font-mono text-xl">#</span><span>{tag}</span>
  </a>
</li>

