---
export interface Props {
  tag: string;
  size?: "sm" | "lg";
}

const { tag } = Astro.props;
---

<li class="mb-4 mr-4 inline-block">
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class="hover:text-theme-accent whitespace-nowrap text-xl focus-visible:p-1"
  >
    <span class="font-mono text-xl">#</span><span>{tag}</span>
  </a>
</li>
