---
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";
---

<Layout title={`About | ${SITE.title}`}>
  <Header activeNav="about" />
  <main>
    <section id="about" class="prose mb-28 max-w-[52rem]">
      <h1 class="pt-6 text-2xl tracking-wider sm:text-3xl">About</h1>
      <p>
        Welcome to CodeLog, a tech blog driven by a passion for software
        engineering, where we delve into the latest industry trends, explore
        best practices, provide insightful tutorials, and offer a unique
        perspective on building software.
      </p>
      <div class="flex flex-col items-center gap-6 sm:flex-row">
        <img
          class="max-w-48"
          src="/assets/images/developer.svg"
          alt="developer"
        />
        <div class="grow">
          <p>
            My name is Eugene and I am a software engineer. Throughout my
            career, I’ve had the privilege of working with diverse technologies
            to create innovative solutions. I’ve led teams, mentored developers,
            and contributed to impactful projects that transform complex
            requirements into intuitive, user-friendly experiences.
          </p>
        </div>
      </div>
      <p>
        At CodeLog, I share insights, lessons, and best practices from my
        journey in the software development world. Whether you're building
        modern web applications, exploring new frameworks, or seeking ways to
        improve your development process, this blog is a space for developers of
        all levels to learn, grow, and be inspired.
      </p>
      <p>
        Join me as we dive into topics like frontend technologies, programming
        language creation, backend architectures and others.
      </p>
    </section>
  </main>
  <Footer />
</Layout>
